<h1>Hole #<%= @hole_number %></h1>

<%= form_for [@round, @hole] do |form| %>
	<ul>
		<% @hole.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
	
	<table class="Hole">
		
		<tr>	
			<%= form.hidden_field :hole_number, value: @hole_number %>
			<%= hidden_field_tag :hole_number, params[:hole_number] %>
		</tr>

		<tr>
			<td align="right"><%= form.label :fairway, "Fairway:" %></td>
			<td align="left"><%= form.select(:fairway, options_for_select(@yes_no_na_options), {:prompt => "Fairway"}) %></td>
		</tr>
	
		<tr>	
			<td align="right"><%= form.label :green, "Green:" %></td>
			<td align="left"><%= form.select(:green, options_for_select(@green_options), {:prompt => "Green"}) %></td>
		</tr>

		<tr>	
			<td align="right"><%= form.label :chips, "Chips/Pitches:" %></td>
			<td align="left"><%= form.select(:chips, options_for_select(@chip_putt_options), {:prompt => "Chips/Pitches"}) %></td>
		</tr>

		<tr>	
			<td align="right"><%= form.label :sand, "Sand Shots:" %></td>
			<td align="left"><%= form.select(:sand, options_for_select(@chip_putt_options), {:prompt => "Sand Shots"}) %></td>
		</tr>

		<tr>
			<td align="right"><%= form.label :putts, "Putts:" %></td>
			<td align="left"><%= form.select(:putts, options_for_select(@chip_putt_options), {:prompt => "Putts"}) %>
		</tr>
		
		<tr>
			<td align="right"><%= form.label :up_and_down, "Up and Down:" %></td>
			<td align="left"><%= form.select(:up_and_down, options_for_select(@yes_no_na_options), {:prompt => "Up and Down"}) %></td>
		</tr>
		
		<tr>
			<td align="right"><%= form.label :sandy, "Sandy:" %></td>
			<td align="left"><%= form.select(:sandy, options_for_select(@yes_no_na_options), {:prompt => "Sandy"}) %>
		</tr>
	
		<tr>
			<td align="right"><%= form.label :score, "Score:" %></td>
			<td align="left"><%= form.select(:score, options_for_select(@score_options)) %></td>
		</tr>

		<tr>
			<td align="right"><%= form.label :over_under, "Over/Under Par:" %></td>
			<td align="left"><%= form.select(:over_under, options_for_select(@over_under_options), {:prompt => "Over/Under Par"}) %></td>
		</tr>

		<tr>
			<td></td>
			<td align="right"><%= form.submit "Submit" %></td>
		</tr>

	</table>
<% end %>